# Ignore virtual environment directories
new_env/
venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
logs/

# Ignore data files
data/processed/
data/raw/

# Ignore model files
models/*.png
models/*.keras
models/*.h5

# Ignore personal configuration files
.zshrc
.zshrct

# Ignore system files
.DS_Store
# Ignore virtual environment folder
venv/
.env/
new_env/  # Adjust to the exact name of your environment folder

# Ignore system files
__pycache__/
*.pyc
.DS_Store

# Ignore data
.csv
.npy
