# Ignore virtual environment directories
new_env/
venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
logs/

# Ignore data directories
data/processed/
data/raw/

# Ignore model files
models/*.png
models/*.keras
models/*.h5

# Ignore personal configuration files
.zshrc
.zshrct

# Ignore system files
.DS_Store

# Ignore data files
*.csv
*.npy
*.h5
hyperparam_tuning/autoencoder_optimization/trial_*/checkpoint.weights.h5
